# Ignore all binary files
*.o
*.so
*.exe
*.dll
*.bin
*.dat
*.out

# Ignore specific binaries
src/Snafucoin-wallet
src/snafucoind
src/Snafucoin-cli
src/Snafucoin-tx
*.o
*.exe
*.bin
*.dat
*.out
src/Snafucoin-wallet
src/snafucoind
src/Snafucoin-cli
src/Snafucoin-tx
src/libbitcoin_server.a
src/libbitcoin_wallet.a
src/libmw.a
src/libbitcoin_common.a
src/libbitcoin_server.a
src/libbitcoin_wallet.a
src/libmw.a
src/libbitcoin_common.a
